nav {
  display: flex;
  justify-content: flex-end;
  width: 49%;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
}

a:hover {
  color: cyan;
}

mat-sidenav-container {
  height: 100%;
}

mat-toolbar{
  background-color: #515151;
  color: cyan;
  mat-icon {
    color: white;
  }
}

mat-sidenav {
  border-radius: 0;
}

.menu-toggle-button {
  display: none;
}

@media (max-width: 490px) {
  .menu-toggle-button {
    display: block;
  }

  nav ul {
    display: none;
  }
  .logout {
    display: none;
  }
}

.menuButtom{
  display: flex;
  justify-content: center;
}

.logout{
  position: absolute;
  right: 20px;
}
